html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}

.editor-container {
  height: calc(100% - 50px);
  overflow: hidden;
  width: 100%;
}
